<div class="create-outer">
<div class="create-div-outer">

<form action="/create-post" method="post">
<div class="create-div-inner">
    <div class="title-div"><input type="text" name="title" class="title" placeholder="Add a Title"></div>
    <div class="content-div"><textarea type="text" name="content" class="content" placeholder="Your post begins here."></textarea></div>
    <div class="photo-div"><input type="text" name="photourl" class="photourl" placeholder="photo url"></div>
    
    <div class="submit-div"><input type="submit" value="Create Post"></div>
</div>
</form>


</div>
</div>