<div id="exit-div"><a id="exit" href="/"><h2>X</h2></a></div>
<div id="signin-div">
<div id="login"><h1>Log In</h1></div>


<form action='/sign-in' method='post'>
<div id="inner-form">
   <div class="input-div"><input class="input-box" type="text" name="username" id="username" placeholder="username"></div>
    <div class="input-div"><input class="input-box" type="password" name="password" id="password" placeholder="password"></div>
   <div id="login-div" class="input-div"><input type="submit" id="login-btn" value="Log in"></div>
   </div>
</form>
</div>

<div id="signup-link">
<p>Don't have an account? <a href="/sign-up">Sign Up</a></p>
</div>